/* line 1, style-responsive.scss */
.body-wrapper {
  min-width: 320px;
}

/* line 5, style-responsive.scss */
.container {
  min-width: 0;
}

@media only screen and (max-width: 1120px) {
  /* line 10, style-responsive.scss */
  #page {
    padding-bottom: 0;
  }

  /* line 13, style-responsive.scss */
  #page .container-inner {
    border-right: 0;
    border-left: 0;
  }

  /* line 17, style-responsive.scss */
  #nav-subheader.nav-container {
    border-right: 0;
    border-left: 0;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1024px) {
  /* line 24, style-responsive.scss */
  .entry-part {
    padding-right: 100px;
  }

  /* line 27, style-responsive.scss */
  .entry-share {
    padding-right: 0;
  }
}
/* ------------------------------------------------------------------------- *
 *  Tablet (Common) : 1023px > 719px
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 719px) and (max-width: 960px) {
  /* line 37, style-responsive.scss */
  #tagline {
    display: none;
  }

  /* line 40, style-responsive.scss */
  .main.sidebar-left {
    background-position: -260px 0;
    padding-left: 80px;
  }

  /* line 44, style-responsive.scss */
  .main.sidebar-left .sidebar {
    margin-left: -80px;
  }

  /* line 47, style-responsive.scss */
  .main.sidebar-right {
    background-image: url(img/sidebar-right-80.png);
    padding-right: 80px;
  }

  /* line 51, style-responsive.scss */
  .main.sidebar-right .sidebar {
    margin-right: -80px;
  }

  /* line 54, style-responsive.scss */
  .sidebar {
    width: 80px;
  }

  /* line 57, style-responsive.scss */
  .sidebar-content {
    display: none;
    float: left;
    width: 100%;
  }

  /* line 62, style-responsive.scss */
  .sidebar .entry-browse {
    display: none;
  }

  /* sidebar expand/collapse */
  /* line 67, style-responsive.scss */
  .sidebar-toggle,
  .sidebar-expand .sidebar-content,
  .sidebar-expand .sidebar .entry-browse {
    display: block;
  }

  /* line 72, style-responsive.scss */
  .sidebar-collapse .sidebar-content,
  .sidebar-collapse .sidebar .entry-browse {
    display: none;
  }

  /* line 76, style-responsive.scss */
  .sidebar-expand .sidebar {
    background: #f0f0f0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 340px;
    margin: 0 !important;
    z-index: 80;
    overflow: auto;
  }

  /* line 86, style-responsive.scss */
  .sidebar-expand .main.sidebar-left .sidebar {
    left: 0;
    border-right: 1px solid #ddd;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.4), 10px 0 10px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.4), 10px 0 10px rgba(0, 0, 0, 0.06);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.4), 10px 0 10px rgba(0, 0, 0, 0.06);
  }

  /* line 93, style-responsive.scss */
  .sidebar-expand .main.sidebar-right .sidebar {
    right: 0;
    border-left: 1px solid #ddd;
    -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.4), -10px 0 10px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.4), -10px 0 10px rgba(0, 0, 0, 0.06);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.4), -10px 0 10px rgba(0, 0, 0, 0.06);
  }

  /* line 100, style-responsive.scss */
  .sidebar-expand .main.sidebar-right .sidebar-toggle {
    float: right;
  }

  /* line 103, style-responsive.scss */
  .sidebar-expand .sidebar-toggle i {
    color: #444;
  }

  /* line 107, style-responsive.scss */
  .single .entry-title {
    font-size: 36px;
  }
}
/* ------------------------------------------------------------------------- *
 *  Tablet (Portrait) : 768px > 719px
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 719px) and (max-width: 768px) {
  /* line 118, style-responsive.scss */
  .grid {
    margin-right: 2.9%;
  }

  /* line 121, style-responsive.scss */
  .content-part .hr {
    margin-top: 10px;
  }

  /* line 125, style-responsive.scss */
  .one-half {
    width: 48.5%;
  }

  /* line 128, style-responsive.scss */
  .one-third {
    width: 31.4%;
  }

  /* line 131, style-responsive.scss */
  .two-third {
    width: 65.65%;
  }

  /* line 134, style-responsive.scss */
  .one-fourth {
    width: 22.8%;
  }

  /* line 137, style-responsive.scss */
  .three-fourth {
    width: 74.1%;
  }

  /* line 140, style-responsive.scss */
  .one-fifth {
    width: 17.6%;
  }

  /* line 143, style-responsive.scss */
  .two-fifth {
    width: 38.5%;
  }

  /* line 146, style-responsive.scss */
  .three-fifth {
    width: 59%;
  }

  /* line 149, style-responsive.scss */
  .four-fifth {
    width: 79.5%;
  }

  /* blog */
  /* line 154, style-responsive.scss */
  .entry-browse li {
    width: 100%;
  }

  /* line 157, style-responsive.scss */
  .entry-browse li a {
    min-height: 0;
  }

  /* line 160, style-responsive.scss */
  .entry-browse li.previous a {
    border-right: 0;
  }

  /* line 163, style-responsive.scss */
  .entry-related .rel-entry-title {
    font-size: 16px;
  }

  /* shortcode: google maps */
  /* line 168, style-responsive.scss */
  .google-map {
    width: 100% !important;
  }
}
@media only screen and (min-width: 540px) and (max-width: 768px) {
  /* line 174, style-responsive.scss */
  .content-part .home-widgets .one-half {
    width: 48.4% !important;
    margin-right: 3.2% !important;
  }

  /* line 178, style-responsive.scss */
  .content-part .home-widgets .one-half.last {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 539px) {
  /* line 184, style-responsive.scss */
  .home-widgets .widget_wpb_tabs li.wpb-thumb-enabled {
    min-height: 0;
  }
}
/* ------------------------------------------------------------------------- *
 *  Mobile (Common) : 719px > 0px (480px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 719px) {
  /* line 194, style-responsive.scss */
  .content,
  .content-part,
  .sidebar {
    width: 100%;
    float: none;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  /* line 202, style-responsive.scss */
  .main {
    background-image: none !important;
    padding: 0 !important;
  }

  /* line 206, style-responsive.scss */
  .grid, .content-part .grid {
    width: 100%;
    margin: 0 0 20px;
  }

  /* line 210, style-responsive.scss */
  .hr {
    margin-top: 10px;
  }

  /* hide */
  /* line 215, style-responsive.scss */
  #tagline,
  .mobile-sidebar-disable .sidebar,
  .ads-header,
  .ads-footer,
  .newsflash,
  .caption-bar,
  #breadcrumb {
    display: none;
  }

  /* base */
  /* line 226, style-responsive.scss */
  .text {
    font-size: 14px;
  }

  /* line 229, style-responsive.scss */
  .pad {
    padding: 20px 20px 10px;
  }

  /* line 232, style-responsive.scss */
  .page-title {
    margin-bottom: 20px;
  }

  /* line 235, style-responsive.scss */
  .sidebar {
    background: #f0f0f0;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    width: 100%;
    display: block;
    float: none;
  }

  /* header */
  /* line 245, style-responsive.scss */
  #header .pad {
    padding-top: 0;
    padding-bottom: 20px;
  }

  /* line 249, style-responsive.scss */
  #logo {
    border-bottom: 1px solid #eee;
    padding: 30px 0;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
  }

  /* line 256, style-responsive.scss */
  #logo {
    width: 100%;
    float: none;
    line-height: 50px;
  }

  /* line 261, style-responsive.scss */
  #logo a {
    float: none;
    text-align: center;
  }

  /* line 265, style-responsive.scss */
  #logo a img {
    float: none;
  }

  /* line 268, style-responsive.scss */
  .social-module {
    float: none;
  }

  /* line 271, style-responsive.scss */
  #header-social {
    text-align: center;
  }

  /* line 274, style-responsive.scss */
  #header-social li {
    margin: 0 5px;
  }

  /* line 277, style-responsive.scss */
  #header-search {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 0 0 15px;
  }

  /* line 283, style-responsive.scss */
  #header-search input.search {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url(img/widgets/search-white@2x.png);
    color: #fff;
    border: 2px solid transparent;
  }

  /* line 289, style-responsive.scss */
  #header-search input.search:focus {
    color: #fff;
    border-color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* page */
  /* line 298, style-responsive.scss */
  .search .page-title span {
    display: inline;
  }

  /* line 301, style-responsive.scss */
  .page-image {
    margin-bottom: 20px;
  }

  /* line 304, style-responsive.scss */
  .page-image-text {
    margin-top: -18px;
  }

  /* line 307, style-responsive.scss */
  .page-image-text .caption {
    line-height: 36px;
    font-size: 36px;
  }

  /* line 311, style-responsive.scss */
  .page-image-text .description {
    font-size: 13px;
  }

  /* footer */
  /* line 316, style-responsive.scss */
  #subfooter .grid {
    margin-bottom: 0;
  }

  /* ads */
  /* line 321, style-responsive.scss */
  #header .grid.one-full {
    margin-bottom: 0;
  }

  /* line 324, style-responsive.scss */
  #subfooter .grid.one-full {
    margin-bottom: 15px;
  }

  /* comments */
  /* line 329, style-responsive.scss */
  .commentlist li {
    font-size: 12px;
  }

  /* line 332, style-responsive.scss */
  .commentlist li ul li {
    padding-left: 10px;
  }

  /* blog */
  /* line 337, style-responsive.scss */
  .entry-list {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 341, style-responsive.scss */
  .entry-list .entry {
    width: 100%;
  }

  /* line 344, style-responsive.scss */
  .entry-list .entry-row {
    margin-left: 0;
    padding-left: 0;
  }

  /* line 348, style-responsive.scss */
  .entry-list .entry-inner {
    margin-right: 0;
  }

  /* line 351, style-responsive.scss */
  .entry-nav {
    margin-bottom: 20px;
  }

  /* line 355, style-responsive.scss */
  .featured .entry-title {
    font-size: 22px;
  }

  /* line 358, style-responsive.scss */
  .highlights .entry {
    width: 33.33%;
  }

  /* line 361, style-responsive.scss */
  .highlights .entry-inner {
    margin-right: 20px;
  }

  /* line 364, style-responsive.scss */
  .highlights .entry-title {
    font-size: 14px;
    letter-spacing: 0;
  }

  /* line 369, style-responsive.scss */
  .content .flex-single {
    margin-bottom: -8px;
  }

  /* line 372, style-responsive.scss */
  .single .entry-comments,
  .single .entry-category {
    margin-top: 0;
  }

  /* line 376, style-responsive.scss */
  .single .entry-title {
    font-size: 32px;
  }

  /* line 379, style-responsive.scss */
  .entry-part {
    padding-right: 0;
  }

  /* line 382, style-responsive.scss */
  .entry-share {
    position: relative;
    float: left;
    width: auto;
    padding: 0;
    margin-top: 20px;
  }

  /* line 389, style-responsive.scss */
  .entry-share span {
    text-align: left;
  }

  /* line 392, style-responsive.scss */
  .entry-share > div {
    float: left;
    margin-right: 10px;
  }

  /* line 396, style-responsive.scss */
  .entry-browse li {
    width: 100%;
  }

  /* line 399, style-responsive.scss */
  .entry-browse li a {
    min-height: 0;
  }

  /* line 402, style-responsive.scss */
  .entry-browse li.previous a {
    border-right: 0;
  }

  /* line 406, style-responsive.scss */
  .entry-related li {
    width: 50%;
  }

  /* line 409, style-responsive.scss */
  .entry-related li:nth-child(2) article {
    border-right-color: transparent;
  }

  /* line 412, style-responsive.scss */
  .entry-related li:nth-child(3),
  .entry-related li:nth-child(4) {
    display: none;
  }

  /* shortcode */
  /* line 418, style-responsive.scss */
  .text hr, .hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /* line 422, style-responsive.scss */
  .dropcap {
    font-size: 66px;
  }

  /* line 425, style-responsive.scss */
  .google-map {
    width: 100% !important;
  }

  /* line 428, style-responsive.scss */
  .pullquote-left,
  .pullquote-right {
    font-size: 14px;
  }
}
/* ------------------------------------------------------------------------- *
 *  Mobile (Portrait) : 320px
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
  /* line 439, style-responsive.scss */
  body {
    font-size: 12px;
  }

  /* line 442, style-responsive.scss */
  .text {
    font-size: 13px;
  }

  /* line 445, style-responsive.scss */
  .gallery-caption {
    display: none;
  }

  /* line 448, style-responsive.scss */
  .pad {
    padding: 15px 15px 5px;
  }

  /* line 451, style-responsive.scss */
  .page-title {
    margin: 5px 0 20px;
  }

  /* header */
  /* line 456, style-responsive.scss */
  #logo {
    font-size: 32px;
    padding: 20px 0;
  }

  /* line 460, style-responsive.scss */
  .social-module .social-tooltip {
    font-size: 22px;
  }

  /* page */
  /* line 465, style-responsive.scss */
  .page-title h1,
  .page-title h2,
  .page-title h4 {
    font-size: 20px;
  }

  /* line 470, style-responsive.scss */
  .page-image-text {
    margin-top: -12px;
  }

  /* line 473, style-responsive.scss */
  .page-image-text .caption {
    line-height: 24px;
    font-size: 24px;
  }

  /* line 477, style-responsive.scss */
  .page-image-text .description {
    font-size: 10px;
  }

  /* footer */
  /* line 482, style-responsive.scss */
  #footer .widget_search input#s {
    width: 228px;
  }

  /* blog */
  /* line 487, style-responsive.scss */
  .featured .entry-title {
    background: #444;
    font-size: 16px;
    letter-spacing: 0;
    padding-left: 15px;
    display: block;
    position: static;
  }

  /* line 495, style-responsive.scss */
  .highlights {
    margin-right: -15px;
  }

  /* line 498, style-responsive.scss */
  .highlights .entry {
    width: 50%;
  }

  /* line 501, style-responsive.scss */
  .highlights .entry-inner {
    margin-right: 15px;
  }

  /* line 504, style-responsive.scss */
  .highlights .entry-title {
    font-size: 14px;
    letter-spacing: 0;
  }

  /* line 508, style-responsive.scss */
  .highlights > ul > li:nth-child(3) {
    display: none;
  }

  /* line 512, style-responsive.scss */
  .post-format .entry-format {
    margin: 15px 0 15px;
  }

  /* line 516, style-responsive.scss */
  .single .entry-title {
    font-size: 22px;
  }

  /* line 519, style-responsive.scss */
  .entry-meta {
    font-size: 12px;
  }

  /* line 522, style-responsive.scss */
  .single .entry-meta li.date {
    float: none;
    margin: 0;
    clear: both;
  }

  /* line 528, style-responsive.scss */
  .format-link .entry-format p,
  .format-quote .entry-format blockquote,
  .single .format-status .text {
    font-size: 18px;
  }

  /* line 533, style-responsive.scss */
  .format-quote .entry-format .quote-bg,
  .format-chat .entry-format .chat-bg {
    padding: 5px 20px;
  }

  /* line 537, style-responsive.scss */
  .format-link .entry-format p a {
    padding: 20px;
  }

  /* line 540, style-responsive.scss */
  .format-link i {
    position: relative;
    top: -2px;
  }

  /* line 545, style-responsive.scss */
  .entry-related .rel-entry-title {
    font-size: 14px;
  }

  /* comments */
  /* line 550, style-responsive.scss */
  .commentlist li {
    padding-left: 0;
  }

  /* line 553, style-responsive.scss */
  .commentlist li.comment .comment-body .avatar {
    display: none;
  }

  /* line 556, style-responsive.scss */
  .commentlist li ul li {
    padding-left: 5px;
  }

  /* line 559, style-responsive.scss */
  .commentlist li ul li .comment-body {
    padding-left: 20px;
  }

  /* line 562, style-responsive.scss */
  .commentlist li ul li .comment-body .comment-meta {
    left: 20px;
  }

  /* line 565, style-responsive.scss */
  #respond {
    padding: 15px 15px 20px;
  }

  /* shortcode */
  /* line 570, style-responsive.scss */
  ul.tabs-nav li a {
    width: 85.4%;
    padding-left: 7%;
    padding-right: 7%;
  }

  /* line 575, style-responsive.scss */
  .dropcap {
    font-size: 56px;
  }
}

/*# sourceMappingURL=style-responsive.css.map */
